.App {
    text-align: center;
    background-color: darkred;
    display: flex;
    flex-flow: row;
    justify-content: center;
    padding-bottom: 40px;
}

.Butonera {
    margin-top: 40px;
    width: 249px;
    display: flex;
    flex-flow: row wrap;
}