.clear {
    width: 250px;
    height: 50px;
    background-color: white;
    border: 1px solid black;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    padding-top: 20px;
    flex-direction: row;
    flex-flow: column wrap;
    flex-wrap: wrap;
    align-content: flex-start;
}