.clear {
    width: 250px;
    height: 50px;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    padding-top: 20px;
    flex-direction: row;
    flex-flow: column wrap;
    flex-wrap: wrap;
    align-content: flex-start;
}

.noapretat {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.apretat {
    background-color: black;
    color: white;
    border: 1px solid white;
}